<!DOCTYPE html>
<html>
  <head>
    <title>BasicRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Begin</h1>
    <%= yield %>
    <h3>End</h3>
  </body>
</html>
